html { margin:0; padding:0; height:100%; background:#fff; }
body { margin:0; padding:0; height:100%; }
a { margin:0; padding:0; text-decoration:none;}
ul { margin:0; padding:0; list-style:none; }
li { margin:0; padding:0;}
p { margin:0; padding:0;  }
img { margin:0; padding:0; border:none; }
h1,h2,h3 { margin:0; padding:0; font-weight:normal}

@font-face {
    font-family: 'oswald-light';
    src: url('font/light/oswald-light-webfont.eot');
    src: url('font/light/oswald-light-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/light/oswald-light-webfont.woff') format('woff'),
    url('font/light/oswald-light-webfont.ttf') format('truetype'),
    url('font/light/oswald-light-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald-bold';
    src: url('font/bold/oswald-bold-webfont.eot');
    src: url('font/bold/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/bold/oswald-bold-webfont.woff') format('woff'),
    url('font/bold/oswald-bold-webfont.ttf') format('truetype'),
    url('font/bold/oswald-bold-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'oswald-sans';
    src: url('font/regular/opensans-regular-webfont.eot');
    src: url('font/regular/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('font/regular/opensans-regular-webfont.woff') format('woff'),
    url('font/regular/opensans-regular-webfont.ttf') format('truetype'),
    url('font/regular/opensans-regular-webfont.svg#oswaldlight') format('svg');
    font-weight: normal;
    font-style: normal;
}


/***************header****************/
header { width:100%; height:auto; overflow:hidden;  background:#222;}
.header_box { width:1280px; height:auto; margin:0 auto; overflow:hidden;}
.header_main {width:1069px; height:auto; overflow:hidden;}
.header_left { float:left; width:20%; margin:39px 0 40px 2.5%; }
.header_left a { font-family:oswald-sans; font-size:24px; line-height:18px; text-transform:uppercase; color:#02a7df;}
.Maxx { color:#fff; }
.header_right { float:right; width:65.5%; margin:39px 0 0 0; }
.menu_main { width:100%; text-align:right; }
.menu_main li {
    cursor:pointer;
    display: inline-block;
    font-family:oswald-sans;
    font-size:12px;
    line-height:18px;
    text-transform:uppercase;
    color:#fff;
    font-weight:bold;
    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}
.menu_main li:hover { color:#02a7df; }
.About { width:10.6% }
.Schedule { width:13.2% }
.Classes { width:11.5% }
.Workouts { width:14% }
.Trainers { width:12.7% }
.Store { width:9.8% }


.menu {  position:relative; display: none; width:29px; height:23px; margin-left: 10%; cursor:pointer;}
.menu_click { width:29px; height:3px; background: url(images/menu_icon.png); background-size:cover; position:absolute; top:0; right:0;
    transition:All 0.3s ease-in-out;-webkit-transition:All 0.3s ease-in-out;-moz-transition:All 0.3s ease-in-out;-o-transition:All 0.3s ease-in-out;
}
.menu_click:before { content:"";  width:29px; height:3px; background: url(images/menu_icon.png); background-size:cover; position:absolute; top:10px; right:0;
    transition:All 0.3s ease-in-out;-webkit-transition:All 0.3s ease-in-out;-moz-transition:All 0.3s ease-in-out;-o-transition:All 0.3s ease-in-out;
}
.menu_click:after { content:"";  width:29px; height:3px; background: url(images/menu_icon.png); background-size:cover; position:absolute; top:20px; right:0;
    transition:All 0.3s ease-in-out;-webkit-transition:All 0.3s ease-in-out;-moz-transition:All 0.3s ease-in-out;-o-transition:All 0.3s ease-in-out;
}
.menu:hover .menu_click { background:url(images/menu_icon_2.png); background-size:cover; }
.menu:hover .menu_click:before { background:url(images/menu_icon_2.png); background-size:cover; }
.menu:hover .menu_click:after { background:url(images/menu_icon_2.png); background-size:cover; }

.menu_click_2 {
    transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    top:10px;
}
.menu_click_2:before{
    transform:rotate(-90deg);
    -ms-transform:rotate(-90deg);
    -moz-transform:rotate(-90deg);
    -webkit-transform:rotate(-90deg);
    -o-transform:rotate(-90deg);
    top:0
}
.menu_click_2:after{ opacity:0}


/***************main01****************/

.main_position { width:100%; height:auto; overflow:hidden; position:relative; }
.home_main01 { width:100%; height:auto; overflow:hidden; position:relative; background:url(images/main01_bg.png);  background-size:100% 100%; }
.main01_box { width:1280px; height:auto; margin:0 auto; }
.main01_left { margin:192px 0 346px 2.3%;  width:47.6%; border-bottom:1px solid #444750; padding-bottom:91px; }
.main01_left p { font-family:oswald-sans; font-size:14px; line-height:24px; color:#fff; }
.Spotys { width:98%; margin-top:23px;  }
.p_spacing1 { letter-spacing:0.018em }
.p_spacing2 { letter-spacing:0.0212em }
.p_spacing3 { letter-spacing:0.011em }
.p_spacing4 { letter-spacing:0.029em }
.p_spacing5 { letter-spacing:0.024em }
.big_font p { text-transform:uppercase; line-height:24px; height:24px; }
.main01_img1 { border:2px solid #02a2d8;   width: 38px; height: 38px;   line-height:38px; display: inline-block;  text-align: center; color:#02a2d8;
    font-family:oswald-sans;
    font-size:14px;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px; }
.main01_img2 { border:2px solid #d88602;   width: 38px; height: 38px;  line-height:38px; display: inline-block; text-align: center; color:#d88602;
    font-family:oswald-sans;
    font-size:14px;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px; }
.main01_img3 { border:2px solid #5cc502;   width: 38px; height: 38px;  line-height:38px; display: inline-block; text-align: center; color:#5cc502;
    font-family:oswald-sans;
    font-size:14px;
    -moz-border-radius: 38px;
    -webkit-border-radius: 38px;
    border-radius: 38px; }
.num3 p { letter-spacing:0.01em}
.big_font { position:relative; }
.main01_img1 { position:relative; top:9px; }
.main01_p1 { position:absolute; top:18px; left:61px; letter-spacing:0.01em}
.main01_img2 { position:relative; top:29px; }
.main01_p2{ position:absolute; top:80px; left:61px; }
.main01_img3 { position:relative; top:49px; }
.main01_p3 { position:absolute; top:142px; left:61px; letter-spacing:0.01em}
.ion1 { position:absolute; top:356px; right:7px; }
.ion2 { position:absolute; top:440px; right:7px; }
.ion3 { position:absolute; top:524px; right:7px; }


/***************main02****************/
.home_main02 { width:100%; height:auto; overflow:hidden; background:url(images/main02_bg.png); background-size:100% 100%;  }
.main02_box { width:1280px; height:auto;  margin:65px auto 0; }
.main02_left { width:51.4%; float:left; text-align:center;  margin-bottom:139px;}
.float_box { float:right; width:100%; }
.left_box1 { float:left; width:34.7%; }
.left_box2 { float:left; width:31.3%; border-left:1px solid #d7d7d7; border-right:1px solid #d7d7d7;}
.left_box3 { float:left; width:31.4%; }
.float_box h2 { font-family:oswald-light; font-size:48px; line-height:18px; color:#1e1e1e; }
.float_box p { font-family:oswald-sans; font-size:14px; line-height:24px; color:#1b1b1b; margin-top:24px; text-transform:uppercase; }
.left_box1 h2 { margin-left:19px;}
.left_box1 p { margin-left:16px; }
.left_box2 { padding-right:2px; }
.main02_right { position:absolute; bottom:76px; right:19.01%; z-index:1;  width:30%; }


/***************main03****************/
.home_main03 { width:100%; height:auto; overflow:hidden; background:url(images/main03_bg.png); background-size:100% 100%; }
.main03_box { width:1280px; height:auto;  margin: 106px auto 0; }
.main03_box .img_box { margin-left:2%; width:100%;}
.main03_top { position:relative; height:45px;}
.main03_top h2 { font-family:oswald-light; font-size:48px; line-height:18px; color:#f6f6f6; }
.main03_top p { color:#30839f; font-size:26px; cursor:pointer;
    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out; }
.l_arrow { position:absolute; bottom:18px; right:63px; }
.r_arrow { position:absolute; bottom:18px; right:12px; }
.main03_top p:hover { color:#08a0d5; font-size:30px; }
.main03_bottom { margin:64px 0 96px 3px; width:100%;  }
.main03_bottom .img1,.img2,.img3,.img4 { display: inline-block; width: 24%;overflow:hidden; cursor:pointer;}
.main03_bottom .img1_clear,.img2_clear,.img3_clear,.img4_clear {  position:relative;  }
.main03_bottom .img_txt { position:absolute; bottom:15px; left:20px; z-index:1;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;}
.main03_bottom img { max-width:100%; }
.main03_bottom .img_txt h3 { font-family:oswald-light; font-size:24px; line-height:24px; color:#fff; }
.main03_bottom .img_txt p { font-family:oswald-sans; font-size:12px; line-height:24px; color:#aeaeae; }
.main03_bottom .img1 .one { text-shadow: 2px 2px 0 #1c1c1c,-2px 2px 0 #1c1c1c,2px -2px 0 #1c1c1c,-2px -2px 0 #1c1c1c;  }
.main03_bottom .img1 .one p { letter-spacing:-0.01em }
.main03_bottom .img4 .four p { letter-spacing:-0.007em }
.main03_bottom .img_hover { position:absolute;  bottom:-165px; left:0; z-index: 2;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;}
.main03_bottom .img1_clear:hover .hover_one,
.main03_bottom .img2_clear:hover .hover_two,
.main03_bottom .img3_clear:hover .hover_there,
.main03_bottom .img4_clear:hover .hover_four { bottom:0; }

.main03_bottom .img1_clear:hover .img_txt,
.main03_bottom .img2_clear:hover .img_txt,
.main03_bottom .img3_clear:hover .img_txt,
.main03_bottom .img4_clear:hover .img_txt { display: none; }



.main03_bottom .hover_txt h3 { position:absolute; top:30.8%; left:19px; z-index: 3; font-family:oswald-light; font-size:24px; line-height:24px; color:#1c1c1c; margin-left:1px; }
.main03_bottom .hover_txt p { position:absolute;  top:45%; left:19px; z-index: 3; font-family:oswald-sans; font-size:12px; line-height:24px; color:#c6c6c6; margin-left:1px; letter-spacing:-0.005em; }
.main03_bottom .hover_txt a:hover { background: #047da6; }
.main03_bottom .hover_txt a {
    display: inline-block;
    width:124px;
    height:30px;
    position:absolute;
    top:68%;
    left:19px;
    z-index: 3;
    letter-spacing:-0.0381em;
    text-align: center;
    font-family:oswald-sans;
    font-size:14px;
    line-height:30px;
    color:#fff;
    background: #02a7df;
    moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius: 20px;
    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}


/***************main04****************/
.home_main04 { width:100%; height:auto; overflow:hidden; background: #fff; }
.main04_box { width:1280px; height:auto; margin:103px auto 0; }
.img04_box { width:100%; margin-left:0.7%;}
.main04_top {  width:800px; margin: 0 auto; text-align: center;}
.main04_top h2 { margin-left:2.9%; font-family:oswald-light; font-size:48px; line-height:18px; color:#1c1c1c; }
.main04_top p { margin:45px 0 0 0; font-family:oswald-sans; font-size:22px; line-height:30px; color:#828488; letter-spacing:0.011em;}
.main04_bottom { margin:72px 0 0 1.5%; width:100%; }
.main04_bottom .main04_img1,
.main04_img2,
.main04_img3,
.main04_img4,
.main04_img5,
.main04_img6,
.main04_img7,
.main04_img8{ display: inline-block; width: 24%; overflow:hidden; margin-bottom:14px; cursor:pointer; }
.main04_bottom .img1_clear,
.img2_clear,
.img3_clear,
.img4_clear, 
.img5_clear, 
.img6_clear, 
.img7_clear, 
.img8_clear {  position:relative;  }
.main04_bottom img { max-width:100%; }
.main04_bottom .replace { position:absolute;  bottom:0; left:0; z-index: 1; display: none; }
.main04_bottom .img1_clear:hover .hover01,
.main04_bottom .img2_clear:hover .hover02,
.main04_bottom .img3_clear:hover .hover03,
.main04_bottom .img4_clear:hover .hover04,
.main04_bottom .img5_clear:hover .hover05,
.main04_bottom .img6_clear:hover .hover06,
.main04_bottom .img7_clear:hover .hover07,
.main04_bottom .img8_clear:hover .hover08 { display: inline-block; }
.main04_bottom .img_hover { position:absolute;  bottom:-165px; left:0; z-index: 2;
    transition:All 1s ease-in-out;
    -webkit-transition:All 1s ease-in-out;
    -moz-transition:All 1s ease-in-out;
    -o-transition:All 1s ease-in-out;}
.main04_bottom .img1_clear:hover .hover_one,
.main04_bottom .img2_clear:hover .hover_two,
.main04_bottom .img3_clear:hover .hover_there,
.main04_bottom .img4_clear:hover .hover_four,
.main04_bottom .img5_clear:hover .hover_five,
.main04_bottom .img6_clear:hover .hover_six,
.main04_bottom .img7_clear:hover .hover_seven,
.main04_bottom .img8_clear:hover .hover_eight{ bottom:0;  }
.main04_bottom .hover_txt h3 { position:absolute;  top:48%; left:20px; letter-spacing:0.004em; z-index: 3; font-family:oswald-light; font-size:24px; line-height:24px; color:#1c1c1c; }
.main04_bottom .hover_txt p { position:absolute;  top:68%; left:20px; letter-spacing:0.01em; z-index: 3; font-family:oswald-sans; font-size:12px; line-height:24px; color:#bababa; }


/***************google****************/
.google_map { width:100%; height:1009px; margin-top:64px; }


/***************footer****************/
footer { width:100%; height:auto;}
.footer_box { width:1280px; height:auto; margin:0 auto; }
.footer_menu { width:100%; height:auto; margin:86px auto 13px; }
.footer_menu ul { margin-left: 26px; width:100%; }
.footer_menu li {
    cursor:pointer;
    text-align: left;
    font-family:oswald-light;
    font-size:30px;
    line-height:30px;
    color:#1c1c1c;
    text-transform: uppercase;
    display: inline-block;
    transition:All 0.3s ease-in-out;
    -webkit-transition:All 0.3s ease-in-out;
    -moz-transition:All 0.3s ease-in-out;
    -o-transition:All 0.3s ease-in-out;
}
.footer_menu li:hover { color:#02a7df; }
.Facebook { width:18.7%; }
.Twitter { width:16.3% }
.Instagram { width:19.2% }
.Google { width:17.2%; }
.linkedin { width:17.2%; letter-spacing:0.011em; }
.Skype { width:5%; }
.line { border-bottom: 1px solid #dddddd; width:1240px; margin:77px 0 0 28px; }

/***************Responsive****************/

@media screen and (max-width: 1920px) {
    .home_main01 { background-size:cover }
    .home_main02 { background-size:cover }
    .home_main03 { background-size:cover }
}


@media screen and (max-width: 1290px) {
    .header_box{ width:100%; }
    .line{ width:97%; }
    .main02_box,.main03_box,.main04_box { width:97%; }
    .footer_box,.footer_menu ul{ width:95%; }
    .main02_right img { width:150% }


}

@media screen and (max-width: 1080px) {
    .header_main{ width:99%; }
    .main03_bottom .img1,.img2,.img3,.img4 { width:48%; }
    .main04_bottom .main04_img1,
    .main04_img2,
    .main04_img3,
    .main04_img4,
    .main04_img5,
    .main04_img6,
    .main04_img7,
    .main04_img8{ width:48%; margin-bottom: 2px; }
    .img1_position,
    .img3_position,
    .img5_position,
    .img7_position { float: right;}
    .img2_position,
    .img4_position,
    .img6_position,
    .img8_position { float: left;}

}

@media screen and (max-width: 960px) {
    .header_left { clear:both; width:100%; text-align:center; }
    .header_right { clear:both; width:100%; text-align:center;  margin:0 0 20px 0;
        transition:All 0.5s ease-in-out;
        -webkit-transition:All 0.5s ease-in-out;
        -moz-transition:All 0.5s ease-in-out;
        -o-transition:All 0.5s ease-in-out;
    }

    .menu_main { text-align: center }
    .menu_main li { font-size:14px;}

}



@media screen and (max-width: 850px) {
    .main04_top { width:97%; }
    .footer_menu li { font-size:28px; }

}


@media screen and (max-width: 780px)  {
    .header_right { height:0; margin:0 }
    .pc_menu_2 { height:220px;  }
    .left_main { margin-left:12%; }
    .menu { display: inline-block; }
    .menu_main li { display: block; width: 100%; margin-bottom: 10px; font-size:16px;}
    .main01_box { width:150%; }
    .main02_box { margin-top:50px; }
    .main02_right { position:static;  width: 65%; margin:0 0 50px 5px; }
    .main02_left { margin-bottom: 20px; width: 100% }
    .footer_menu { margin-bottom: 100px; }
    .footer_menu ul { margin-left:0; }
    .line { display: none; }
    .footer_menu li { display: block; width: 100%; text-align: center; font-size:42px; margin-bottom: 40px;}


}

@media screen and (max-width: 600px) {

    .main01_box { width:100%; }
    .main01_left { margin:80px 0 45px 20px; width:90%; }
    .main01_right { margin-bottom:30px; }
    .main01_right img { position:static; display: block; margin: 0 auto 10px; }
    .main03_bottom .img1,.img3,.img2,.img4  { width:100%; text-align:center; margin-bottom: 10px;}
    .main04_bottom .main04_img1,
    .main04_img2,
    .main04_img3,
    .main04_img4,
    .main04_img5,
    .main04_img6,
    .main04_img7,
    .main04_img8{ width:100%; text-align:center; margin-bottom: 10px;}
    .img1_position,
    .img2_position,
    .img3_position,
    .img4_position,
    .img5_position,
    .img6_position,
    .img7_position,
    .img8_position{ width:100%; }
    .img1_clear,
    .img2_clear,
    .img3_clear,
    .img4_clear,
    .img5_clear,
    .img6_clear,
    .img7_clear,
    .img8_clear{ width:295px; margin:0 auto; }


}

@media screen and (max-width: 350px) {

    .main03_bottom .img1,.img3,.img2,.img4  { width:95%;}
    .main04_bottom .main04_img1,
    .main04_img2,
    .main04_img3,
    .main04_img4,
    .main04_img5,
    .main04_img6,
    .main04_img7,
    .main04_img8{ width:95%;}
    .img1_clear,
    .img2_clear,
    .img3_clear,
    .img4_clear,
    .img5_clear,
    .img6_clear,
    .img7_clear,
    .img8_clear{ width:100%; }


}






















